# Make @Data, @Value classes, etc generate toString, equals, hashCode even for fields in supertypes
lombok.equalsAndHashCode.callSuper = call

# Add @lombok.Generated annotation to all generated methods
lombok.addLombokGeneratedAnnotation = true 

# Generate @java.beans.ConstructorProperties for any constructor
lombok.anyConstructor.addConstructorProperties = true

# Allow chaining of setters
lombok.accessors.chain = true

# Keep lombok.config in the root directory
config.stopBubbling = true 